name: Tests

on: push

jobs:
  build_and_test:
    name: Build and test

    runs-on: ubuntu-20.04

    strategy:
      matrix:
        php: ["8.0", "8.1", "8.2"]

    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Checkout current commit
        uses: actions/checkout@v2.3.4

      - name: Update composer
        run: composer self-update

      - name: Install composer dependencies
        run: composer install --no-interaction

      - name: Test
        run: composer test
